@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(241, 245, 241);
    
}

.wrapper{
    display: flex flex-col;
    justify-content: center;
    align-items: center;
    color:#fff;
    background-color: purple;
}